<!DOCTYPE html>
<html>
    <head>
        <title>Remecconn</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="wrapper">
            <!-- Navigation START -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="nav">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"><img src="img/logo-remeccon.png"></a>
                    </div>
                    <div class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li class="dropdown"><a href="products.html" class="dropdown-toggle">Products <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="pullverizer.html">Pullverizer Mill</a></li>
                                    <li><a href="rotomolding.html">Mesin Rotomolding</a></li>
                                    <li><a href="icecrusher.html">Ice Crusher</a></li>
                                    <li><a href="iceflake.html">Ice Flake</a></li>
                                    <li><a href="jasagiling.html">Jasa Giling</a></li>
                                </ul>
                            </li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navigation END -->
            
            <!-- Slideshow START -->
            <div id="slideshow" class="carousel slide" data-ride="carousel">
                <!-- Indicators, Ini adalah Tombol BULET BULET dibawah. item ini dapat dihapus jika tidak diperlukan -->
                <ol class="carousel-indicators">
                    <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                    <li data-target="#slideshow" data-slide-to="1"></li>
                    <li data-target="#slideshow" data-slide-to="2"></li>
                    <li data-target="#slideshow" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides, Ini adalah Tempat Gambar-->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="carousel-caption left"> <!--Penjelasan -->
                                    <h1>Pullverizer Mill</h1>
                                    <p>Kami melayani Jasa Giling biji plastik menjadi tepung / bubuk plastik
                                        untuk kebutuhan produksi thermoplastik / inject plastik
                                        dengan mesh 20 - 100 , milimeter s/d micron mesh
                                        Mesin kami dapat melayani Kapasitas 500 kg - 1000 kg / hari ,25 kg / jam.
                                    </p>
                                    <!--<p class="lead">Keterangan lebih lanjut, klik link di bawah ini.</p>-->
                                    <a class="btn btn-sm btn-primary" href="">Lanjutkan Baca</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <img src="img/pullverizer/pullverizer.jpg" alt="coolbox seri b"> <!--Gambar -->    
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="carousel-caption left"> <!--Penjelasan -->
                                    <h1>Mesin Rotomolding</h1>
                                    <p>mesin ini memproduksi cool box dan tutup pada satu mesin
                                        cool box mempunyai
                                        - 2 lapis dinding tanpa sambungan
                                        - insulasi dalam atau diinject bahan isolasi suhu polyurethane hardness 40 - 45
                                        - lubang hidran
                                    </p>
                                    <!--<p class="lead">Keterangan lebih lanjut, klik link di bawah ini.</p>-->
                                    <a class="btn btn-sm btn-primary" href="">Lanjutkan Baca</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <img src="img/rotomolding/rotomolding.jpg" alt="coolbox seri b"> <!--Gambar -->    
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="carousel-caption left"> <!--Penjelasan -->
                                    <h1>Ice Crusher</h1>
                                    <p>Mesin mudah dioperasikan.
                                        Anti korosi
                                        Mudah dibersihkan, pemeliharaan untuk mesin kami sangat rendah
                                        Terbuat dari bahan Stainless Steel, tahan lama, anti-karat dan bebas korosi
                                        Desain kinerja mesin dan teruji tahan lebih dari 10 tahun.
                                    </p>
                                    <!--<p class="lead">Keterangan lebih lanjut, klik link di bawah ini.</p>-->
                                    <a class="btn btn-sm btn-primary" href="">Lanjutkan Baca</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <img src="img/ice-crusher/ice-crusher.jpg" alt="coolbox seri b"> <!--Gambar -->    
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="carousel-caption left"> <!--Penjelasan -->
                                    <h1>Ice Flake</h1>
                                    <p>Mesin pembuat es dari air laut ini digunakan untuk industri pengolahan hasil tangkap / bahan makanan yang berasal dari laut.
                                        Hasil produksi es berbentuk serpihan , cocok untuk proses pendinginan hasil tangkap perikanan dan kelautan.
                                    </p>
                                    <!--<p class="lead">Keterangan lebih lanjut, klik link di bawah ini.</p>-->
                                    <a class="btn btn-sm btn-primary" href="">Lanjutkan Baca</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <img src="img/ice-flake/ice-flake.jpg" alt="coolbox seri b"> <!--Gambar -->    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls, Ini adalah Panah Kanan dan Kiri. item ini dapat dihapus jika tidak diperlukan-->
                <a class="left carousel-control" href="#slideshow" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#slideshow" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- Slideshow END -->
            
            <!-- Content START -->
            <div class="container">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="col-lg-4">
                        <a href="coolbox.html"><img class="img-thumbnail" src="img/pullverizer/pullverizer.png" alt="coolbox"></a>
                        <h2>Pullverizer Mill</h2>
                        <p>Untuk keterangan Produk Cool Box lebih lanjut, bisa klik link di bawah ini !</p>
                        <p><a class="btn btn-default" href="coolbox.html" role="button">Detail Produk &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <a href="coldstorage.html"><img class="img-thumbnail" src="img/rotomolding/rotomolding.png" alt="storage"></a>
                        <h2>Rotomolding</h2>
                        <p>Untuk keterangan Produk Cold Storage lebih lanjut, bisa klik link di bawah ini !</p>
                        <p><a class="btn btn-default" href="coldstorage.html" role="button">Detail Produk &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <a href="pelampung.html"><img class="img-thumbnail" src="img/ice-crusher/ice-crusher.png" alt="pelampung"></a>
                        <h2>Ice Crusher</h2>
                        <p>Untuk keterangan Produk Pelampung dan Keramba lebih lanjut, bisa klik link di bawah ini !</p>
                        <p><a class="btn btn-default" href="pelampung.html" role="button">Detail Produk &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <a href="bolakonstruksi.html"><img class="img-thumbnail" src="img/ice-flake/ice-flake.png" alt="bola konstruksi"></a>
                        <h2>Ice Flake</h2>
                        <p>Untuk keterangan Produk Bola Konstruksi lebih lanjut, bisa klik link di bawah ini !</p>
                        <p><a class="btn btn-default" href="bolakonstruksi.html" role="button">Detail Produk &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <a href="tangkiair.html"><img class="img-thumbnail" src="img/portfolio/8.jpg" alt="tangki air"></a>
                        <h2>Jasa Giling</h2>
                        <p>Untuk keterangan Produk Tangki Air lebih lanjut, bisa klik link di bawah ini !</p>
                        <p><a class="btn btn-default" href="tangkiair.html" role="button">Detail Produk &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            
            <!-- FOOTER START -->
            <footer>
                <div class="container">
                    <!--<div class="row">-->
                        <div class="footer-content">
                            <div class="col-lg-6">
                                <h2>LINK PARTNER</h2>
                                <ul>
                                    <li><a href="http://alatperikanan-coolbox-rantai-dingin.blogspot.com/" target="_blank">CV. Connectix Persada</a></li>
                                    <li><a href="http://conndistindo.com/" target="_blank">Conn Distindo Jaya</a></li>
                                    <!--<li><a href="#">Aenean bibendum lacus varius </a></li>
                                    <li><a href="#">Pellentesque sed nulla nec </a></li>
                                    <li><a href="#">Donec a velit nisi, ac dignissim</a></li>-->
                                </ul>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-6 kanan">
                                <h2>CONTACT US</h2>
                                <p>CV. Remeccon Gemilang Perkasa</p>
                                <p>Alamat : Raya Kebonsari Manunggal no 4</p>
                                <p>Kelurahan Gayung Kebonsari , Surabaya</p>
                                <p>Telepon : 031 - 8297621 , 082132680606</p>
                                <p>Fax : 031 - 8297619</p>
                                <p>Email : <a href="#">rekamekconn@gmail.com</a></p>
                            </div><!-- /.col-lg-4 -->
                        </div>
                        <div class="copyright">
                            &copy; 2014 Conn Distindo Jaya. All rights reserved.
                        </div>
                    <!--</div>-->
                </div>
            </footer>
            <!-- Footer END -->
                  
            <div class="pageup"></div><!-- Button Scroll Back To Top -->
            <!-- Content END -->
        </div>
    </body>
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
</html>